{% extends 'base.html' %} {% block content %}

<section class="table mt-2 w-75 m-auto" id="admin-table">
  <div class="container">
    <div class="row">
      <div class="main">
        <form action="" method="POST" >
         <div class="input-group">
             <input type="text" class="form-control" name="search" id="search" placeholder="Search">    
             <div class="input-group-append">
               <button class="btn btn-secondary" type="submit">
                 <i class="fa fa-search"></i>
               </button>
             </div>
           </form>
           </div>
     </div>
     <table class="styled-table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Points</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Dom</td>
              <td>6000</td>
          </tr>
          <tr class="active-row">
              <td>Melissa</td>
              <td>5150</td>
          </tr>
          <!-- and so on... -->
      </tbody>
  </table>
    </div>
  </div>
</section>

{% endblock %}
