{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<section class="table mt-2 w-75 m-auto position" id="doctor-table">
  <div class="container">
    <div class="row">
      <div class="add">
        <a href="{% url 'addDoc' %}" class="btn btnsuccess text-white">
          Add Doctor</a>
      </div>
      <div class="main">
        <form action="" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name="search" id="search" placeholder="Search">

            <div class="input-group-append">
              <button class="btn btnsuccess" type="submit">
                <i class="fa fa-search text-white"></i>
              </button>
            </div>
        </form>
      </div>
    </div>
    <table class="styled-table text-center rounded-2">
      <thead>
        <tr class="text-center">

          <th>#</th>
          <th>Name</th>
          <th>Special</th>
          <th>Phone</th>
          <th>City</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in doctor %}
        <tr>

          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.dept}}</td>
          <td>{{i.Phone}}</td>
          <td>{{i.City}}</td>
          <td>

            <a href="{% url 'editDoc' i.id %}" class="btn btn-success">
              <i class="fa fa-pen text-white"></i>
            </a>
            <a href="{% url 'deleteDoc' i.id %}" class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </a>

          </td>
        </tr>
        {% endfor %}
        <!-- and so on... -->
      </tbody>
    </table>
  </div>
  </div>
</section>




{% endblock %}