{% extends 'base.html' %} {% block content %}


{% if messages %}
{% for message in messages %}
<div class="m-auto w-50" id="success_alert">
  <h4 class="alert box-color text-white text-center">{{ message }}</h4>
</div>
{% endfor %}
{% endif %}

<!-- #first div -->
<section class="table mt-2 w-75 m-auto position" id="patient-table">
  <div class="container">
    <div class="row">
      <div class="add">
        <a href="{% url 'addPat' %}" class="btn btnsuccess text-white">
          Add Patient
        </a>
      </div>


    </div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>National ID</th>
          <th>Date Of Birth</th>
          <th>Address</th>
          <th>Phone</th>
          <th>reserved?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for p in pat %}
        <tr class="active-row">
          <td>{{p.Name}}</td>
          <td>{{p.National_num}}</td>
          <td>{{p.BirthDay}}</td>
          <td>{{p.City}}</td>
          <td>{{p.Phone}}</td>
          <td>{{p.reserved}}</td>

          <td>
            <a href="{% url 'editPat' p.id %}" class="btn btn-success">
              <i class="fa fa-pen text-white"></i>
            </a>
            <a href="{% url 'deletepatient' p.id %}" class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </a>
          </td>

        </tr>
        {% endfor %}
        <!-- and so on... -->
      </tbody>
    </table>
  </div>
  </div>
</section>




{% endblock %}